
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


nav ul {
    padding: 5px 100px;
    width: 100vw;
    height: 70px;
    background-color: #1B0E41;
    position: fixed;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   list-style: none;
  display: flex;
   color: white;
   line-height: 50px;
   
}
.premiere-nav :nth-child(6){
    margin-left: auto;
}
span{
    
    font-size: 25px;
   
}
.liste-nav{
    
    margin: 0 20px;
}
.liste-nav a{
    text-decoration: none;
    color: white;
}

.liste-nav a:hover{
   color: #B594FD;
    text-decoration: underline;
}

.rech{
  
margin-right: 10px;
}
.rech input{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background: #fff;
    outline: none;
   
    
}
.rech .contains{
  position: relative;

}
.rech .contains img{
    width: 20px;
    height: 30px;
    background-color: #B594FD;
    position: absolute;
    top: 4px;
   right: 0px;
}

#menu-accordeon {
    
    padding:0;
    margin:0;
  }
  #menu-accordeon ul:hover {
    padding:0;
    margin:0;
    list-style:none;
   display: block;
   
  }
 
  #menu-accordeon li {
    
     background-image:-webkit-linear-gradient(top, #000 100%);
     background-image: linear-gradient(to bottom, #000 100%);
    background-color: #1B0E41;
     margin-bottom:20px;
     
  }
  #menu-accordeon li li {
   
     margin:0
  }
  
  #menu-accordeon a {
   
   
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size:1.2em
  }
  
  #menu-accordeon li li a{
  
   margin-left: 12px;
  }
 
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
 
    font-size:1em
  }
  #menu-accordeon li li:hover {
   
     background: #B594FD;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    
    max-height: 15em;
  }
  

/* corps */
.corps{
    padding-top: 70px;
}
.content{
    width:100%;
    height: 600px;
    background-image: url(/dossier_css/images/109b2d_9b2679581cb34a6d88e4f9c56c38ffc3~mv2.png);
    background-size: cover;
    background-repeat: no-repeat;
 

}
.over{
    width: 80%;
    height: 500px;
    background-color: #eeecf3;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}
.over .cri{
    display: flex;
}
.classe{
    
    width: 350px;
    height: 350px;
    background-color: #B594FD;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   margin: 100px;
   
}
.classe span{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 35px;
}
.classe p{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
}
.classe div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
}
.classe h5{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 20px;
}
    /* CSS */
    .button-5{
        align-items: center;
        background-clip: padding-box;
        background-color: #000;
        border: 1px solid transparent;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1rem;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
      margin-left: 75px;
      margin-top: 50px;
      }
      
      .button-5:hover,
      .button-5:focus {
        background-color: #B594FD;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      }
      
      .button-5:hover {
        transform: translateY(-1px);
      }
      
      .button-5:active {
        background-color: #B594FD;
        box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
        transform: translateY(0);
      }
      .button-5 a{
        text-decoration: none;
        color: white;
      }
      