
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


nav ul {
    padding: 5px 100px;
    width: 100vw;
    height: 70px;
    background-color: #1B0E41;
    position: fixed;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   list-style: none;
  display: flex;
   color: white;
   line-height: 50px;
}
.premiere-nav :nth-child(6){
    margin-left: auto;
}
span{
    
    font-size: 25px;
   
}
.liste-nav{
    
    margin: 0 20px;
}
.liste-nav a{
    text-decoration: none;
    color: white;
}

.liste-nav a:hover{
   color: #B594FD;
    text-decoration: underline;
}

.rech{
  
margin-right: 10px;
}
.rech input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: #eeecf3;
    outline: none;
   
    
}

.containt{
    width: 20px;

}


.containt #menu-accordeon li li:hover ul {
    display: block;
}
#menu-accordeon {
    
    padding:0;
    margin:0;
   
}

.containt #menu-accordeon ul:hover {
    padding:0;
    margin:0;
    list-style:none;
   display: block;
   
}

#menu-accordeon li {
    
     background-image:-webkit-linear-gradient(top, #000 100%);
     background-image: linear-gradient(to bottom, #000 100%);
    background-color: #1B0E41;
    
     
}
#menu-accordeon li li {
   
     margin:0
}
  
#menu-accordeon a {
   
   
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size: 1em
}

#menu-accordeon li li a{
  
   
}
 
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
   
  }
#menu-accordeon li li:hover {
   
     background: #B594FD;
  }

  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    
    max-height: 20em;
  }
  

  
/*section projet*/

.espace_projet{
   

}

.content {
   padding: 5px 300px;
  
}
.content h1{
    margin-top: 70px;
    font-size: 2rem;
}
.content span{
    color: #B594FD;
    font-size: 2rem;
}
.over{
    width: fit-content;
    height: fit-content;
    background-color: #b594fd60;
    margin-left: 300px;
   
   padding: 20px;
   border-radius: 5px;
}
.over h1{
    margin-left: 40px;
    font-size: 1.8rem;
} 
.over label{
    margin-left: 40px;
   
}
.texte {
    width: 400px;
    height: 100px;
    margin-left: 40px;
   
}

.crainte{
    width: 350px;
    height: 300px;
    background-color: #b594fd60;
    float: right;
    margin-right: 100px;
   margin-top: 150px;
   border-radius: 5px;
  
  
}
.craint{
    text-align: justify;
    justify-content: center;
   
}
.craint  .image{
   display: block;
    justify-content: center;
    margin: 0 auto;
    border-radius: 30px;
}

.image {
   
    
}

.crainte p {
   
    font-size: 1rem;
   
   
}

.crainte span{
    font-size: 1rem;
   
   
}
.game label{
    margin-left: 4px;
}

.grire .textes{
    width: 250px;
    height: 40px;
    margin-left: 40px;
}
.grire label{
    margin-left: 40px;
}
.grire input{
    margin-left: 40px;
}

    /* CSS */
.button-5{
    align-items: center;
    background-clip: padding-box;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-left: 40px;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #B594FD;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #B594FD;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  .button-5 a{
    text-decoration: none;
    color: white;
  }
  
/* section */

.ouvert{
    width: 100vw;
    height: 300px;
    background-color: #1B0E41;
    display: flex;
    margin-top: 100px;
}
.tct span{
    color: #fff;
    display: block;
   padding: 80px 200px 100px 100px;
}
.ouvert .vate{
    width: 70%;
    height: 1px;
    background-color: #fff;
   transform: rotate(90deg);
   display: flex;
   margin-top: 150px;
   margin-left: -300px;
}
.bruit h1{
    color: white;
    text-decoration: underline;
 
 }
.premieer{
   display: flex;
   width: 50%;
}
.premieer .padir{
    color: #fff;
   display: flex;
   padding: 10px 400px 10px 10px;
   font-size: 18px;
   
}
.premieer div{
   font-size: 18px;
    padding-top: 20px;
    color: white;
}
/* piece */
.piece{
    width: 100vw;
    height: 400px;
    background-color: #B594FD;
  

}

.piet h1{
   
    text-align: center;
}
.piet .pita{
   display: flex;
   margin-top: 20px;
   padding: 5px 100px;
}
.piet .pits{
    width: 400px;
    text-align: justify;
    margin-top: 100px;
    margin-left: 200px;
}

/* fooetr */
.foot{
    width: 100vw;
    height: 200px;
    background-color: #8a898c;
   
   
}
.fat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 

}
.fat .imgs{
    display: block;

}


.class button{
    width: 130px;
 height: 30px;
 border-radius: 5px;
 outline: none;
 cursor: pointer;
 background-color: #B594FD;
 color: #fff;
 border: none; 
 

}
