*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
  
  
#haaaa{
    display: none;
}
  
.navbar{
    width: 100%;
    height: 70px;
    background-color: #1B0E41;
    list-style: none;
    display: flex;
    padding: 5px 100px;
    position: fixed;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
}
  
.element1{
    position: relative;
    background-color: #1B0E41;
    font-size: 25px;
    top: -22px;
}
.element1 a{
    position: relative;
    top: 35px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
  .premiere-nav{
    list-style: none;
    display: flex;
    width: 100%;
    padding-top: 20px;
  }
  
  .liste-nav a{
    text-decoration: none;
    color: white;
  }
  
  .liste-nav a:hover{
   color: #B594FD;
    text-decoration: underline;
  }
  .rech{
    position: relative;
    top: -5px;
    left: 40px;
    
  }
  .rech .recher{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: #eeecf3;
    outline: none;
   
    
  }
  .element2{
    background-color: #1B0E41;
    width: 80%;
    height: 70px;
    position: relative;
    top: -22px;
  
  }
  .element2 a{
    font-size: 15px;
    position: relative;
    top: -1px;
    left: -50px;
  
  }
  ul li a{
    color: white;
    text-decoration: none;
    padding-left: 3rem;
  
  }
  
  .bergb{
    width: 50px;
    height: 30px;
    
    position: relative;
    top: 20px;
    left: 99%;
    display: block;
    cursor: pointer;
  } 
  .bergb input{
    display: none;
  }
  .bergb .hgfd{
    display: none;
  }
  .hgfd{
    visibility: hidden;
    opacity: 1;
    position: fixed;
    right: 10px;
    width: 100%;
  
  }
  
  .hgfd li a{
    text-decoration: none;
    font-size: 20px;
  }
  .hgfd li{
    list-style-type: none;
    margin-left: 50px;
  }
  .hgfd li:hover{
    
    color: #fff;
    text-decoration: underline;
  }
  #berg:checked ~ .hgfd{
    visibility: visible;
    display: block;
    width: 20%;
    height: 100px;
    z-index: 1;
    top: 75px;
    text-align: justify;
    background-color: #1B0E41;
  }
  .element3{
    width: 16%;
    height: 70px;
    overflow: hidden;
    position: relative;
    top: -22px;
  
}
  .element3 a{
    position: relative;
    top: 25px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  
}

@media screen and (min-width:200px) and (max-width:688px) {
  
    .navbar{
      width: 100%;
      height: 70px;
      background-color: #1B0E41;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 20px;
    }
    
    
    .element1{
      position: relative;
      background-color: #1B0E41;
      width: 25%;
      height: 70px;
      font-size: 20px;
      top: -22px;
    }
    .element1 a{
      position: relative;
      top: 20px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      left: -15px;
    }
    .premiere-nav{
      list-style: none;
      display: flex;
      width: 100%;
      padding-top: 5px;
      
    }
    
    .liste-nav a{
      text-decoration: none;
      color: white;
      font-size: 16px;
    }
    
    .liste-nav a:hover{
     color: #B594FD;
      text-decoration: underline;
    }
    .rech{
      position: relative;
      top: 105px;
      left: -100px;
      
    }
    .rech .recher{
      width: 150px;
      height: 30px;
      border: none;
      border-radius: 30px;
      background: #eeecf3;
      outline: none;
     
      
    }
    .element2{
      background-color: #1B0E41;
      width: 30%;
      height: 70px;
      position: relative;
      top: -22px;
      right: 25px;
    
    }
    .element2 a{
      font-size: 15px;
      position: relative;
      top: -1px;
      left: -50px;
    
    }
    ul li a{
      color: white;
      text-decoration: none;
      padding-left: 3rem;
    
    }
    
    .bergb{
      width: 50px;
      height: 30px;
      background-color: #1B0E41;
      position: relative;
      top: 10px;
      left: 90%;
      display: block;
    } 
    .bergb input{
      display: none;
    }
    .bergb .hgfd{
      display: none;
    }
    .hgfd{
      visibility: hidden;
      opacity: 1;
      position: fixed;
      right: 10px;
      width: 100%;
    
    }
    
    .hgfd li a{
      text-decoration: none;
      font-size: 20px;
    }
    .hgfd li{
      list-style-type: none;
    
    }
    #berg:checked ~ .hgfd{
      visibility: visible;
      display: block;
      width: 25%;
      height: 100px;
      z-index: 1;
      top: 80px;
      padding-left: -80px;
      background-color: #1B0E41;
    }
    .element3{
      width: 16%;
      height: 70px;
      overflow: hidden;
      position: relative;
      top: -22px;
    
    }
    .element3 a{
      position: relative;
      top: 25px;
      font-size: 20px;
      text-decoration: none;
      color: rgb(255, 255, 255);
    
    }
    
    
    
    .tout{
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
    
    }
    .tout img{
      position: relative;
      height: 300px;
    }
    .open{
      width: 100%;
      height: 30px;
      background-color: #1B0E41;
      text-align: center;
      color: #ffffff;
      font-size: 23px;
    }
    body{
      
    
    }
    .paw{
      width: 60%;
      height: 300px;
      background-color: grey;
      margin: 0 auto;
     border-radius: 10px;
     position: relative;
     top: 30px;
     padding: 30px;
     justify-content: center;
     text-align: center;
    }
    
    button{
      width: 80%;
      height: 30px;
      background-color: #000000;
      border: none;
    
    }
    button a{
      text-decoration: none;
      color: #ffffff;
    }
    
    
    .paw  input{
      width: 80%;
      height: 30px;
      margin-top: 5px;
      margin: 5px;
     
    } 
    .bouton{
      cursor: pointer;
    }
    label{
      color: aliceblue;
    }
    
    #bbbbb{
      display: none;
    }
    #haaaa{
      display: block;
      position: relative;
      left: 20%;
    
    }
    
    } 
  
  
/*section projet*/

.espace_projet{
   
padding-top: 50px;
}

.content {
  margin-left: 100px;
  
}
.content h1{
    margin-top: 70px;
    font-size: 2rem;
}
.content span{
    color: #B594FD;
    font-size: 2rem;
}

.over{
    width: fit-content;
    height: fit-content;
    background-color: #b594fd60;
    margin-left: 100px;
   
   padding: 20px;
   border-radius: 5px;
}
.over h1{
    margin-left: 40px;
    font-size: 1.8rem;
} 
.over label{
    margin-left: 40px;
   
}
.texte {
    width: 400px;
    height: 100px;
    margin-left: 40px;
   
}

.crainte{
    width: 350px;
    height: 300px;
    background-color: #b594fd60;
    float: right;
   margin-right: 200px;
   margin-top: 50px;
   border-radius: 5px;
  
  
}
.craint{
    text-align: justify;
    justify-content: center;
   
}
.craint  .image{
   display: block;
    justify-content: center;
    margin: 0 auto;
    border-radius: 30px;
}
.crainte p { 
    font-size: 1rem;  
}

.crainte span{
    font-size: 1rem;
}
.game label{
    margin-left: 4px;
}

.grire .textes{
    width: 250px;
    height: 40px;
    margin-left: 40px;
}
.grire label{
    margin-left: 40px;
}
.grire input{
    margin-left: 40px;
}

    /* button */
.button-5{
    align-items: center;
    background-clip: padding-box;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    vertical-align: baseline;
    width: auto;
    margin-left: 40px;
    
}
  
.button-5:hover,
.button-5:focus {
    background-color: #B594FD;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
  
.button-5:hover {
    transform: translateY(-1px);
}
  
.button-5:active {
    background-color: #B594FD;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
  .button-5 a{
    text-decoration: none;
    color: white;
}
  
/* section */

.ouvert{
    width: 100%;
    height: 300px;
    background-color: #1B0E41;  
    margin-top: 100px;
}
.ouvert :nth-child(3){
    margin-left: auto;
}

.tct p {
    color: #fff;
   width: 400px;
    height: 100px;
    font-size: 1.2rem;
    padding-top: 100px;
    margin-left: 100px;
}
.ouvert .vate{
    width: 20%;
    height: 1px;
    background-color: #fff;
    transform: rotate(90deg);
   display: flex;
   margin-left: 400px;
   margin-top: 50px;
 
}
.bruit{
    width: 50%;
   margin-top: -100px;
   display: block;
  
}
.bruit h1{
    color: white; 
}
.tyt{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: white;
    margin-right: 100px;
}
.premieer{
    width: 200px;
}

/* piece */
.piece{
    width: 100vw;
    height: 400px;
    background-color: #B594FD;
  

}

.piet h1{
   
    text-align: center;
}
.piet .pita{
   display: flex;
   margin-top: 20px;
   padding: 5px 100px;
}
.piet .pits{
    width: 400px;
    text-align: justify;
    margin-top: 100px;
    margin-left: 200px;
}

/* fooetr */
.foot{
    width: 100vw;
    height: 100px;
    background-color: grey;
   
}
.fat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    padding-top: 30px;
}
.fat .imgs{
    display: block;

}
.class button{
 width: 130px;
 height: 30px;
 border-radius: 5px;
 outline: none;
 cursor: pointer;
 background-color: #B594FD;
 color: #fff;
 border: none; 
}

