
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


nav ul {
    padding: 5px 100px;
    width: 100vw;
    height: 70px;
    background-color: #1B0E41;
    position: fixed;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   list-style: none;
  display: flex;
   color: white;
   line-height: 50px;
}
.premiere-nav :nth-child(6){
    margin-left: auto;
}
span{
    
    font-size:1rem;
   
}
.liste-nav{
    
    margin: 0 20px;
}
.liste-nav a{
    text-decoration: none;
    color: white;
}

.liste-nav a:hover{
   color: #B594FD;
    text-decoration: underline;
}

.rech{
  
margin-right: 10px;
}
.rech input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: #eeecf3;
    outline: none;
   
    
}

li{
   width: 100px;

}


.containt #menu-accordeon li li:hover ul {
    display: block;
}
#menu-accordeon {
    
    padding:0;
    margin:0;
   
}

.containt #menu-accordeon ul:hover {
    padding:0;
    margin:0;
    list-style:none;
   display: block;
   
}

#menu-accordeon li {
    
     background-image:-webkit-linear-gradient(top, #000 100%);
     background-image: linear-gradient(to bottom, #000 100%);
    background-color: #1B0E41;
    
     
}
#menu-accordeon li li {
   
     margin:0
}
  
#menu-accordeon a {
   
   
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-size: 1em
}

 
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
   
  }
#menu-accordeon li li:hover {
   
     background: #B594FD;
  }

  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    
    max-height: 20em;
  } 

  /* li {
    list-style:none ; /*On enlève les puces de la liste */
    /* color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    } */
     
    /* #menu-accordeon ul {
    background-color:#64abfb;
   
    }
     
    #menu-accordeon ul li {
   
    background-color:#64abfb;
    }
     
    #menu-accordeon ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
     
    li a:hover {
    border-bottom:3px #FFF solid;
    }
    
    #menu-accordeon ul li ul { 
    /* display:none; Rend le menu déroulant caché par défaut */
    /* } 
     
    #menu-accordeon ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    
    /* display:block; */
   
    
   
  

.corps{
    padding-top: 70px;
}
.marges img{
    display: flex;
    justify-content: center;
    margin : 0 auto;
}
.merde{
    width: 100vw;
   height: 200px;
    background-color: grey;
    margin: 0 auto;
    text-align: center;
   
}
.merde h2{
    text-align: center;
    justify-content: center;
}
.merde span{
    text-align: center;
    display: flex;
    justify-content: center;
}

.merde select {
    padding: 5px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
   margin-top: 30px;
    justify-content: center;
    text-align: center;
   align-items: center;
}

.merde select:focus {
    outline: none;
}
.merde input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #B594FD;
    color: #fff;
    border: none; 
}
table{
    border-collapse: collapse;

}
th,td{
    border: 1px solid black;
    padding: 10px;
}
/* section */

.mard{
    margin-top: 50px;
   text-align: center;
}
.txt{
   text-align: justify;
   width: 400px;
   justify-content: center;
   margin: 0 auto;
}
.txt h4{
    text-decoration: underline;
}
.txt p{
    padding-top: 20px;
    
}
/* section */
.bonsoir{
    margin-top: 50px;
    
}
.bonsoir h4{
    text-align: center;
    text-decoration: underline;
}
.bonsoir .tableau {
    margin: 0 auto;
    justify-content: center;
    margin-top: 40px;

}




/* section */
.image{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.textes{
    display: flex;
    justify-content: space-evenly;
    
   
}

.textes .txt1{
    display: block;
    width: 250px;
}

.textes .txt2{
    width: 200px;
}

.textes .txt3{
    width: 200px;
}
/* section */
.ddef{
    margin-top: 100px;
}


.definition{
    width: 400px;
    height: 350px;
    
    background-color: #B594FD;
    float: left;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.definition p{
    text-transform: uppercase;
    padding-top: 30px;
    text-decoration: underline;
}
.definition span{
    font-size: 0.8rem;
    margin-top: 50px;

}
.avantage{
    width: 400px;
    height: 350px;
    background-color: #B594FD;
    float: right;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.avantage p{
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    
}
.avantage span{
    font-size: 0.8rem;

}
.perso{
   
    width: 400px;
    height: 350px;
    background-color: #B594FD;
    float: left;
    margin-left: 50px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.perso p{
    text-decoration: underline;
    text-transform: uppercase;
    padding-top: 30px;
}
.perso span{
    font-size: 0.8rem;
    margin-top: 50px;
}

.condition{
    padding-top: 500px;
   
}
.condition p{
    text-align: center;
}
.condition span{
text-align: justify;
padding: 5px 10px 50px 130px;
display: flex;
justify-content: center;
margin: 0 auto;
}
.condition .bonj{
    display: block;
}
.condition li{
   width: 500px;
}
.condition h5{
    text-align: center;
}
/* section */

.label{
    margin-top: 50px;
    text-align: center;
   
}
.label p{
    padding: 30px;
}
.com{
    display: flex;
    justify-content: space-evenly;
 
   
}

.culo{
    width: 300px;
    height: 500px;
    background-color: #eeecf3;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.culo p{
    text-align: center;
}
.cuj{
    width: 300px;
    height: 500px;
    background-color: #eeecf3;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cuj p{
    text-align: center;
    
    
}
.bit{
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
}